@keyframes bg {
  0% {
    transform: rotate(0deg);
  }
  1.385% {
    transform: rotate(5deg);
  }
  2.769% {
    transform: rotate(5deg);
  }
  2.77% {
    transform: rotate(10deg);
  }
  4.154% {
    transform: rotate(10deg);
  }
  4.155% {
    transform: rotate(15deg);
  }
  5.539% {
    transform: rotate(15deg);
  }
  5.54% {
    transform: rotate(20deg);
  }
  6.924% {
    transform: rotate(20deg);
  }
  6.925% {
    transform: rotate(25deg);
  }
  8.309% {
    transform: rotate(25deg);
  }
  8.31% {
    transform: rotate(30deg);
  }
  9.694% {
    transform: rotate(30deg);
  }
  9.695% {
    transform: rotate(35deg);
  }
  11.079% {
    transform: rotate(35deg);
  }
  11.08% {
    transform: rotate(40deg);
  }
  12.464% {
    transform: rotate(40deg);
  }
  12.465% {
    transform: rotate(45deg);
  }
  13.849% {
    transform: rotate(45deg);
  }
  13.85% {
    transform: rotate(50deg);
  }
  15.234% {
    transform: rotate(50deg);
  }
  15.235% {
    transform: rotate(55deg);
  }
  16.619% {
    transform: rotate(55deg);
  }
  16.62% {
    transform: rotate(60deg);
  }
  18.004% {
    transform: rotate(60deg);
  }
  18.005% {
    transform: rotate(65deg);
  }
  19.389% {
    transform: rotate(65deg);
  }
  19.39% {
    transform: rotate(70deg);
  }
  20.774% {
    transform: rotate(70deg);
  }
  20.775% {
    transform: rotate(75deg);
  }
  22.159% {
    transform: rotate(75deg);
  }
  22.16% {
    transform: rotate(80deg);
  }
  23.544% {
    transform: rotate(80deg);
  }
  23.545% {
    transform: rotate(85deg);
  }
  24.929% {
    transform: rotate(85deg);
  }
  24.93% {
    transform: rotate(90deg);
  }
  26.314% {
    transform: rotate(90deg);
  }
  26.315% {
    transform: rotate(95deg);
  }
  27.699% {
    transform: rotate(95deg);
  }
  27.7% {
    transform: rotate(100deg);
  }
  29.084% {
    transform: rotate(100deg);
  }
  29.085% {
    transform: rotate(105deg);
  }
  30.469% {
    transform: rotate(105deg);
  }
  30.47% {
    transform: rotate(110deg);
  }
  31.854% {
    transform: rotate(110deg);
  }
  31.855% {
    transform: rotate(115deg);
  }
  33.239% {
    transform: rotate(115deg);
  }
  33.24% {
    transform: rotate(120deg);
  }
  34.624% {
    transform: rotate(120deg);
  }
  34.625% {
    transform: rotate(125deg);
  }
  36.009% {
    transform: rotate(125deg);
  }
  36.01% {
    transform: rotate(130deg);
  }
  37.394% {
    transform: rotate(130deg);
  }
  37.395% {
    transform: rotate(135deg);
  }
  38.779% {
    transform: rotate(135deg);
  }
  38.78% {
    transform: rotate(140deg);
  }
  40.164% {
    transform: rotate(140deg);
  }
  40.165% {
    transform: rotate(145deg);
  }
  41.549% {
    transform: rotate(145deg);
  }
  41.55% {
    transform: rotate(150deg);
  }
  42.934% {
    transform: rotate(150deg);
  }
  42.935% {
    transform: rotate(155deg);
  }
  44.319% {
    transform: rotate(155deg);
  }
  44.32% {
    transform: rotate(160deg);
  }
  45.704% {
    transform: rotate(160deg);
  }
  45.705% {
    transform: rotate(165deg);
  }
  47.089% {
    transform: rotate(165deg);
  }
  47.09% {
    transform: rotate(170deg);
  }
  48.474% {
    transform: rotate(170deg);
  }
  48.475% {
    transform: rotate(175deg);
  }
  49.859% {
    transform: rotate(175deg);
  }
  49.86% {
    transform: rotate(180deg);
  }
  51.244% {
    transform: rotate(180deg);
  }
  51.245% {
    transform: rotate(185deg);
  }
  52.629% {
    transform: rotate(185deg);
  }
  52.63% {
    transform: rotate(190deg);
  }
  54.014% {
    transform: rotate(190deg);
  }
  54.015% {
    transform: rotate(195deg);
  }
  55.399% {
    transform: rotate(195deg);
  }
  55.4% {
    transform: rotate(200deg);
  }
  56.784% {
    transform: rotate(200deg);
  }
  56.785% {
    transform: rotate(205deg);
  }
  58.169% {
    transform: rotate(205deg);
  }
  58.17% {
    transform: rotate(210deg);
  }
  59.554% {
    transform: rotate(210deg);
  }
  59.555% {
    transform: rotate(215deg);
  }
  60.939% {
    transform: rotate(215deg);
  }
  60.94% {
    transform: rotate(220deg);
  }
  62.324% {
    transform: rotate(220deg);
  }
  62.325% {
    transform: rotate(225deg);
  }
  63.709% {
    transform: rotate(225deg);
  }
  63.71% {
    transform: rotate(230deg);
  }
  65.094% {
    transform: rotate(230deg);
  }
  65.095% {
    transform: rotate(235deg);
  }
  66.479% {
    transform: rotate(235deg);
  }
  66.48% {
    transform: rotate(240deg);
  }
  67.864% {
    transform: rotate(240deg);
  }
  67.865% {
    transform: rotate(245deg);
  }
  69.249% {
    transform: rotate(245deg);
  }
  69.25% {
    transform: rotate(250deg);
  }
  70.634% {
    transform: rotate(250deg);
  }
  70.635% {
    transform: rotate(255deg);
  }
  72.019% {
    transform: rotate(255deg);
  }
  72.02% {
    transform: rotate(260deg);
  }
  73.404% {
    transform: rotate(260deg);
  }
  73.405% {
    transform: rotate(265deg);
  }
  74.789% {
    transform: rotate(265deg);
  }
  74.79% {
    transform: rotate(270deg);
  }
  76.174% {
    transform: rotate(270deg);
  }
  76.175% {
    transform: rotate(275deg);
  }
  77.559% {
    transform: rotate(275deg);
  }
  77.56% {
    transform: rotate(280deg);
  }
  78.944% {
    transform: rotate(280deg);
  }
  78.945% {
    transform: rotate(285deg);
  }
  80.329% {
    transform: rotate(285deg);
  }
  80.33% {
    transform: rotate(290deg);
  }
  81.714% {
    transform: rotate(290deg);
  }
  81.715% {
    transform: rotate(295deg);
  }
  83.099% {
    transform: rotate(295deg);
  }
  83.1% {
    transform: rotate(300deg);
  }
  84.484% {
    transform: rotate(300deg);
  }
  84.485% {
    transform: rotate(305deg);
  }
  85.869% {
    transform: rotate(305deg);
  }
  85.87% {
    transform: rotate(310deg);
  }
  87.254% {
    transform: rotate(310deg);
  }
  87.255% {
    transform: rotate(315deg);
  }
  88.639% {
    transform: rotate(315deg);
  }
  88.64% {
    transform: rotate(320deg);
  }
  90.024% {
    transform: rotate(320deg);
  }
  90.025% {
    transform: rotate(325deg);
  }
  91.409% {
    transform: rotate(325deg);
  }
  91.41% {
    transform: rotate(330deg);
  }
  92.794% {
    transform: rotate(330deg);
  }
  92.795% {
    transform: rotate(335deg);
  }
  94.179% {
    transform: rotate(335deg);
  }
  94.18% {
    transform: rotate(340deg);
  }
  95.564% {
    transform: rotate(340deg);
  }
  95.565% {
    transform: rotate(345deg);
  }
  96.949% {
    transform: rotate(345deg);
  }
  96.95% {
    transform: rotate(350deg);
  }
  98.334% {
    transform: rotate(350deg);
  }
  98.335% {
    transform: rotate(355deg);
  }
  99.719% {
    transform: rotate(355deg);
  }
  99.72% {
    transform: rotate(360deg);
  }
  99.9999% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
