@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Teko:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: url('../img/bg.jpg') no-repeat center center/cover;
  font-family: 'Teko', sans-serif;
  line-height: 1;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  width: 100vw;
  height: 100vh;
}

.content {
  width: 100%;
  opacity: 0;
  transition: transform 1000ms ease-out, opacity 1000ms ease-out;
}

.content.loaded {
  opacity: 1;
  transform: scale(1.03, 1.03);
}

.text-effect {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
}

.title {
  display: block;
  margin: 0 auto 50px;
  width: 783px;
  h1 {
    display: block;
    font-size: 4.24rem;
    font-weight: 500;
    letter-spacing: 0.04rem;
    text-align: center;
  }
}

.countdown {
  ul {
    display: flex;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 790px;
    list-style: none;
    li {
      padding: 0 30px;
      width: 25%;
    }
  }
  &-area {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
  &-base {
    display: block;
    width: 100%;
    overflow: hidden;
    img.anim_on {
      display: none;
      width: 100%;
      animation: bg 1s linear 0s infinite normal;
      transform: rotate(0deg);
    }
    img.anim_off {
      display: block;
      width: 100%;
    }
    &.countdown-base-animated {
      img.anim_on {
        display: block;
      }
      img.anim_off {
        display: none;
      }
    }
  }
  &-numbers {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .countdown-number {
      font-size: 7.4rem;
    }
  }
  &-unit {
    display: block;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.48;
  }
}

.date {
  position: relative;
  display: block;
  margin: 0 auto 3.75rem;
  p {
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-align: center;
    .target-day {
      &::before {
        top: 0.5em;
        mask-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 20%,
          rgba(255, 255, 255, 1)
        );
        mask-mode: alpha;
      }
    }
    .day-of-the-week {
      text-transform: uppercase;
    }
    .day-of-the-week,
    .date-text {
      font-size: 0.7em;
      &::before {
        top: 0.79em;
        mask-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 20%,
          rgba(255, 255, 255, 1)
        );
        mask-mode: alpha;
      }
    }
    span::before {
      content: attr(data-date);
      position: absolute;
      color: inherit;
      opacity: 0.5;
      transform: rotateX(180deg);
    }
  }
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
  width: 360px;
  background: url('../img/btn_bg.png') no-repeat center center/cover;
  border: none;
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  text-align: center;
  transition: all 500ms ease-out;
  span {
    display: block;
    width: 100%;
    background: url('../img/btn_arrow.png') no-repeat top 50% right 22px/10px
      auto;
  }
  &:hover {
    transform: translateX(20px);
    opacity: 0.8;
  }
}

@import 'keyframes';

@media (max-width: 425px) {
  .title {
    width: 100%;
    h1 {
      font-size: 3.5rem;
    }
  }
  .countdown-base {
    opacity: 0;
  }

  .countdown-numbers {
    .countdown-number {
      font-size: 6rem;
    }
  }

  .countdown-unit {
    font-size: 2rem;
  }

  .btn {
    width: 240px;
    font-size: 1rem;
    span {
      background-size: 8px auto;
    }
  }
}
